<!DOCTYPE html>

<html>
	<head>
		<title>SpotifyRH</title>
	</head>
	<body>
		<h2>Spotify Rabbit Hole</h2>
		
		<form action="/rabbithole" method="post">
			{% for title, artist, track_id in zip(titles, artists, track_ids) %}
				{% set outer_loop = loop %}
				<div>
					<h4>{{ title }} - {{ artist }}</h4>
					<iframe src={{ "https://open.spotify.com/embed/track/" ~ track_id }} width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
					<br>
					{% for j in range(5) %}
						<input type="radio" name={{ "option" ~ outer_loop.index0 }} value={{ loop.index }} id={{ "rating" ~ outer_loop.index ~ "-" ~ loop.index }}>
						<label for={{ "rating" ~ outer_loop.index ~ "-" ~ loop.index }}>{{ loop.index }}</label>
					{% endfor %}
					<input value={{ track_id }} name="track_ids" style="display: none">
				</div>
			{% endfor %}
			<button class="btn" id="rate" type="submit">Continue</button>
		</form>
	</body>
</html>